/* Formating Body area */
body {
  background-color: rgb(240, 255, 152);
}

/* Formating Header area */
.site-header {
  background-color: #703200;
}

/* Formating Titles */
h1 {
  color: #2a2f00;
}

h2 {
  color: #2a2f00;
}

h3 {
  color: #2a2f00;
}

/* Formating Forms */
