{% extends "layout.html" %}
{% block content %}
{% if mensaje %}
<div class="alert alert-success" role="alert">
    <ul>
        <li>{{ mensaje }}</li>
    </ul>
</div>
{% endif %}
{% if mensaje_error %}
<div class="alert alert-danger" role="alert">
    <ul>
        <li>{{ mensaje_error }}</li>
    </ul>
</div>
{% endif %}
<h1>Cambiar Password</h1>

<div class="container card-body">
    <span class="card-text">                     
        <form action="{{ url_for('cambiar_password', id=usuario.id ) }}" method="POST">
            <section class="form-group">
                <label for="contenido"> Nuevo Password  </label>
                <input type="password" class="form-control form-control-lg rounded-0" name="passwordnuevo" id="passwordnuevo" value="" required>
            </section>
            <section class="form-group">
                <label for="contenido"> Confirmar Password </label>
                <input value="" type="password" class="form-control form-control-lg rounded-0" name="passwordnuevoconfirm" id="passwordnuevoconfirm" oninput="check(this)" placeholder="Confirme el Password" required>
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('passwordnuevo').value) {
                            input.setCustomValidity('El Password ingresado no coincide');
                        } else {
                            input.setCustomValidity('');
                        }
                    }
                </script>
            </section>            
            <div class="text-right">
                
                <button type="submit" class="btn btn-info">Aceptar</button>
            </div>
        </form>
    </span>
</div>
{% endblock %}